<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{password-reset.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{password-reset.greeting(${user.firstName})}"/>
<p th:text="#{password-reset.request(${user.email})}">Мы получили запрос на установку нового пароля JiraRush для учетной
    записи: user@email.com.</p>
<a th:href="${resetUrl}" th:text="#{password-reset.button}">Установить пароль</a>
</body>
</html>